@model Someren_Case.Models.Room

<h2>Edit Room</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="RoomID" />

    <div class="form-group">
        <label>Floor Number</label>
        <input asp-for="FloorNumber" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Number of Beds</label>
        <input asp-for="NumberOfBeds" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Building</label>
        <input asp-for="Building" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Room Type</label>
        <select asp-for="RoomType" class="form-control">
            <option>Student</option>
            <option>Lecturer</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="@Url.Action("Index", "Rooms")" class="btn btn-secondary">Cancel</a>
</form>

