@model IEnumerable<Someren_Case.Models.DrinkOrderViewModel>

<h1>Drink Orders</h1>

@foreach (var drinkOrder in Model)
{
    <h2>@drinkOrder.Drink.Name</h2>  

    <ul>
        @foreach (var order in drinkOrder.Orders)
        {
            <li>@order.StudentName - Quantity: @order.Quantity</li> 
        }
    </ul>
}