@model IEnumerable<Someren_Case.Models.Lecturer>

@{
    ViewData["Title"] = "Lecturers";
}

<h2>Lecturers</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Age</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var lecturer in Model)
        {
            <tr>
                <td>@lecturer.FirstName</td>
                <td>@lecturer.LastName</td>
                <td>@lecturer.PhoneNumber</td>
                <td>@(DateTime.Now.Year - lecturer.DateOfBirth.Year)</td>

            </tr>
        }
    </tbody>
</table>